<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Vendas e Controle de Estoque</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Sistema de Vendas e Controle de Estoque</h1>
        <label class="switch">
            <input type="checkbox" id="theme-switch" class="theme-checkbox">
            <span class="slider"></span>
        </label>
      </header>
      
  
  <main>
    <div class="container">
      <a href="produtos.html" class="card">
        <h2>Produtos</h2>
        <img src="images/produtos.png" alt="Produtos">
      </a>
      <a href="estoque.html" class="card">
        <h2>Estoque</h2>
        <img src="images/estoque.png" alt="Estoque">
      </a>
      <a href="pdv.html" class="card">
        <h2>PDV</h2>
        <img src="images/pdv.png" alt="PDV">
      </a>
      <a href="vendas.html" class="card">
        <h2>Vendas</h2>
        <img src="images/vendas.png" alt="Vendas">
      </a>
    </div>
  </main>

  <script src="script.js"></script>
</body>
</html>
