<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produtos - Sistema de Vendas</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
        <div class="home">
            <a href="index.html"><img src="images/home.png" alt="Home"></a>
          </div>
      <h1>Produtos</h1>
      <label class="switch">
        <input type="checkbox" id="theme-switch" class="theme-checkbox" />
        <span class="slider"></span>
      </label>
    </header>

    <main>
      <div class="container">
        <button id="add-product-btn">Adicionar Produto</button>
        <div id="product-list">
          <!-- Lista de produtos será exibida aqui -->
        </div>
      </div>

      <!-- Pop-up de cadastro de novo produto -->
      <div id="add-product-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Novo Produto</h2>
          <form id="add-product-form">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required /><br />
            <!-- Adicione outros campos do formulário aqui -->
            <button type="submit">Adicionar</button>
          </form>
        </div>
      </div>
    </main>

    <script src="script.js"></script>
  </body>
</html>
