body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header,
h1 {
  font-size: 20px;
  font-weight: 500;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #0000005e;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10px;
}

/*botão home */

/* Estilo para o botão Home */
.home {
  margin-right: auto;
}

.home img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.home img:hover {
  opacity: 0.7;
}

/*botão home */

/* Botão de alternância de tema */
.theme-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4.25em;
  height: 2.125em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(120% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}
/* Estilo do botão */
.theme-toggle label {
  font-size: 14px;
}

/* Tema escuro */
body.dark-mode {
  background-color: #333;
  color: #b6b6b6;
}
.dark-mode a.card {
  background-color: #1d1d1da4;
  color: #ddd;
}
.dark-mode header {
  background-color: #7c7c7c;
}

.dark-mode #sales-area {
  background-color: #444;
  color: #ddd;
}

.dark-mode #sale-summary {
  background-color: #333;
}

/* Estilos para o tema escuro */
.dark-mode {
  background-color: #222;
  color: #ddd;
}

.dark-mode .modal-content{
  background-color: #202020;
}
.dark-mode .modal-content input{
  background-color: #424242;
}
.dark-mode #sales-table th,
.dark-mode #sales-table td {
  border-color: #555;
}

.dark-mode #sales-table th {
  background-color: #444;
}

.dark-mode #sales-table tr:nth-child(even) {
  background-color: #333;
}

.dark-mode #sales-table tr:hover {
  background-color: #555;
}

.dark-mode .product-list th {
  background-color: #333;
  color: white;
}

.dark-mode .product-list td {
  background-color: #444;
  color: white;
}
/* pagina de produtos */

.container-product {
  max-width: 800px;
  margin: 20px auto;
  display: grid;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
}

.product-list {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  min-width: 1%;
  text-align: center;
  border: 1px solid #ddd;
}

.product-list th {
  background-color: #f2f2f2;
}

/* Estilo para o botão de edição */
.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 3px;
}

/* Estilo para o botão de edição ao passar o mouse */
.edit-button:hover {
  background-color: #0056b3;
}

/* Estilo para o botão de adicionar produto */
#add-product-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#add-product-btn:hover {
  background-color: #0056b3;
}

/* Estilos para o popup */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #fcfcfc;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para os inputs */
.modal-content label {
  display: block;
  margin-bottom: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="number"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-content button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

/* Estilo para a lista de produtos em estoque */
#stock-list {
  margin-top: 20px;
}

/* Estilo para os cards de produto em estoque */
.stock-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o botão de movimentação de estoque */
#stock-movement-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

#stock-movement-btn:hover {
  background-color: #0056b3;
}

/* Estilo para o modal de movimentação de estoque */
#stock-movement-modal {
  display: none;
}

#stock-movement-modal .modal-content {
  max-width: 400px;
}

/* Estilos para o cabeçalho */
header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home img {
  width: 40px;
  height: 40px;
}

/* Estilos para o corpo da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para o formulário de lançamento de vendas */
#sales-area {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sales-form label {
  display: block;
  margin-bottom: 8px;
}

#sales-form select,
#sales-form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#sales-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#sales-form button:hover {
  background-color: #0056b3;
}

/* Estilos para o resumo da venda */
#sale-summary {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sale-list {
  list-style-type: none;
  padding: 0;
}

#sale-list li {
  margin-bottom: 8px;
}

#sale-summary p {
  margin-top: 20px;
}

#finish-sale-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

#finish-sale-btn:hover {
  background-color: #218838;
}

/* Estilos para a tabela de vendas */
#sales-table {
  width: 100%;
  border-collapse: collapse;
}

#sales-table th,
#sales-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#sales-table th {
  background-color: #f2f2f2;
}

#sales-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#sales-table tr:hover {
  background-color: #ddd;
}
